body {
    font-family: Arial, sans-serif;
    background-color: #d7cece;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  img {
    width: 300px;
    height: 200px;
    margin: 0px;
  }
  
  video {
    width: 400px;
    height: 300px;
    margin: 10px;
  }
  